In [36]:
import pandas as pd
import numpy as np

In [37]:
# Calling Dataset
data = pd.read_csv('price_paid_records.csv', encoding='latin')

In [38]:
#Removing data from 2017 as was stated in previous comparisons
DataUK = data[data['Date of Transfer'].str.contains('2017')]
DataUK

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
22114250,{4C4EDFFF-6C65-1854-E050-A8C063054F34},325000,2017-02-17 00:00,T,Y,F,EASTLEIGH,EASTLEIGH,HAMPSHIRE,A,A
22114251,{4C4EDFFF-6C66-1854-E050-A8C063054F34},424950,2017-01-30 00:00,D,Y,F,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A
22114252,{4C4EDFFF-6C67-1854-E050-A8C063054F34},499950,2017-03-01 00:00,D,Y,F,SOUTHAMPTON,EASTLEIGH,HAMPSHIRE,A,A
22114253,{4C4EDFFF-6C68-1854-E050-A8C063054F34},410000,2017-03-06 00:00,T,N,F,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A
22114254,{4C4EDFFF-6C69-1854-E050-A8C063054F34},184500,2017-02-17 00:00,S,N,L,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,A,A
...,...,...,...,...,...,...,...,...,...,...,...
22489343,{4C4EE000-291A-1854-E050-A8C063054F34},175000,2017-02-20 00:00,S,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A
22489344,{4C4EE000-291B-1854-E050-A8C063054F34},586945,2017-02-15 00:00,D,N,F,WETHERBY,LEEDS,WEST YORKSHIRE,A,A
22489345,{4C4EE000-291C-1854-E050-A8C063054F34},274000,2017-02-24 00:00,D,N,L,HUDDERSFIELD,KIRKLEES,WEST YORKSHIRE,A,A
22489346,{4C4EE000-291D-1854-E050-A8C063054F34},36000,2017-02-22 00:00,T,N,F,HALIFAX,CALDERDALE,WEST YORKSHIRE,A,A
22489347,{4C4EE000-291E-1854-E050-A8C063054F34},145000,2017-03-03 00:00,T,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A

In [39]:
DataUK.info()

<class 'pandas.core.frame.DataFrame'>
Index: 375098 entries, 22114250 to 22489347
Data columns (total 11 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Transaction unique identifier      375098 non-null  object
 1   Price                              375098 non-null  int64
 2   Date of Transfer                   375098 non-null  object
 3   Property Type                      375098 non-null  object
 4   Old/New                            375098 non-null  object
 5   Duration                           375098 non-null  object
 6   Town/City                          375098 non-null  object
 7   District                           375098 non-null  object
 8   County                             375098 non-null  object
 9   PPDCategory Type                   375098 non-null  object
 10  Record Status - monthly file only  375098 non-null  object
dtypes: int64(1), object(10)
memory usage: 34.3+ MB

In [40]:
#Slicing the Data to extract a specific Town
eastleigh_data = DataUK[DataUK['Town/City'] == 'EASTLEIGH'].copy()
eastleigh_data

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
22114250,{4C4EDFFF-6C65-1854-E050-A8C063054F34},325000,2017-02-17 00:00,T,Y,F,EASTLEIGH,EASTLEIGH,HAMPSHIRE,A,A
22114257,{4C4EDFFF-6C6C-1854-E050-A8C063054F34},349950,2017-03-16 00:00,S,N,F,EASTLEIGH,EASTLEIGH,HAMPSHIRE,A,A
22114330,{4C4EDFFF-68EB-1854-E050-A8C063054F34},310000,2017-02-16 00:00,S,N,F,EASTLEIGH,EASTLEIGH,HAMPSHIRE,A,A
22114335,{4C4EDFFF-68F1-1854-E050-A8C063054F34},173000,2017-03-24 00:00,F,N,L,EASTLEIGH,EASTLEIGH,HAMPSHIRE,B,A
22114346,{4C4EDFFF-68FD-1854-E050-A8C063054F34},291000,2017-02-15 00:00,S,N,F,EASTLEIGH,EASTLEIGH,HAMPSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...
22446007,{4E95D758-1EC1-EDA1-E050-A8C0630539E2},20000,2017-04-10 00:00,O,N,L,EASTLEIGH,EASTLEIGH,HAMPSHIRE,B,A
22475475,{47844C80-AFE9-8986-E050-A8C063056488},260500,2017-01-06 00:00,S,N,F,EASTLEIGH,EASTLEIGH,HAMPSHIRE,B,A
22476524,{47844C80-B13A-8986-E050-A8C063056488},285000,2017-01-09 00:00,T,Y,F,EASTLEIGH,EASTLEIGH,HAMPSHIRE,B,A
22476525,{47844C80-B13B-8986-E050-A8C063056488},240000,2017-01-09 00:00,D,Y,F,EASTLEIGH,EASTLEIGH,HAMPSHIRE,B,A
22488097,{50F18103-DC6F-9FD5-E050-A8C063054923},129000,2017-04-13 00:00,O,N,F,EASTLEIGH,EASTLEIGH,HAMPSHIRE,B,A

In [41]:
hampshire_data = DataUK[DataUK['County'] == 'HAMPSHIRE'].copy()
hampshire_data

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
22114250,{4C4EDFFF-6C65-1854-E050-A8C063054F34},325000,2017-02-17 00:00,T,Y,F,EASTLEIGH,EASTLEIGH,HAMPSHIRE,A,A
22114251,{4C4EDFFF-6C66-1854-E050-A8C063054F34},424950,2017-01-30 00:00,D,Y,F,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A
22114252,{4C4EDFFF-6C67-1854-E050-A8C063054F34},499950,2017-03-01 00:00,D,Y,F,SOUTHAMPTON,EASTLEIGH,HAMPSHIRE,A,A
22114253,{4C4EDFFF-6C68-1854-E050-A8C063054F34},410000,2017-03-06 00:00,T,N,F,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A
22114255,{4C4EDFFF-6C6A-1854-E050-A8C063054F34},450000,2017-02-17 00:00,D,N,F,NEWBURY,BASINGSTOKE AND DEANE,HAMPSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...
22488094,{50F18103-DC6C-9FD5-E050-A8C063054923},2000000,2017-04-24 00:00,O,N,F,SOUTHAMPTON,NEW FOREST,HAMPSHIRE,B,A
22488095,{50F18103-DC6D-9FD5-E050-A8C063054923},465000,2017-03-30 00:00,O,N,F,NEW MILTON,NEW FOREST,HAMPSHIRE,B,A
22488096,{50F18103-DC6E-9FD5-E050-A8C063054923},10000,2017-05-25 00:00,O,N,F,FAREHAM,FAREHAM,HAMPSHIRE,B,A
22488097,{50F18103-DC6F-9FD5-E050-A8C063054923},129000,2017-04-13 00:00,O,N,F,EASTLEIGH,EASTLEIGH,HAMPSHIRE,B,A
22488098,{50F18103-DC71-9FD5-E050-A8C063054923},10000000,2017-03-10 00:00,O,N,F,SOUTHAMPTON,EASTLEIGH,HAMPSHIRE,B,A